{{!shows users blog posts}}

<a href="/posts/create" class="btn btn-primary col-2 my-3 ms-3">New Post</a>

{{#each userPosts}}

  <div class="card my-1 mx-3">
    <h5 class="card-header d-flex justify-content-between">{{title}}
      <span class="fs-6 fw-lighter">Created by:
        {{this.user.username}}
        on

        {{format_date date}}
        at
        {{format_time date}}</span></h5>

    <div class="card-body">

      <p class="card-text">
        {{content}}
      </p>
    </div>
  </div>

{{/each}}